<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>Add</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container mt-3 mb-3">
        <a href="/add/linksheet"><button class="addExcel">Link G-Sheet</button></a>
 
        <% allData.forEach(data => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><b><%= data.title %></b></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= data.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= data.description %>
                    </div>
                    <a href="/add/template/<%= data._id %>"><button class="btn btn-primary">Upload & Preview</button></a>
                    <a href="/edit/linksheet/<%= data._id %>"><button class="btn btn-info">Edit</button></a>
                    <a href="/add/email/<%= data._id %>"><button class="btn btn-secondary">Add Email</button></a>
                    <a href="/viewsheet/<%= data._id %>"><button class="btn btn-success">View Sheet</button></a>
                    <form action='/delete/<%= data._id %>' method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                 </div>
             </div>
        <% }) %>
    </div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/footerLinks') %>
</html>