<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>View Sheet</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <% if(message=="invalid") { %>
        <div class="invalid">
            <img src="/images/invalid.png" alt="" class="img-fluid invalidImg">
            <div class="message">
                <h3 class="mt-3">Invalid GoogleId or Application not Linked</h3>
            </div>
        </div>
    <% }else{ %>
        <% if(message != null){ %>
            <div class="messageSec mt-3">
                <div class="alert alert-danger col-4" role="alert">
                    <%= message %>
                    <a type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
            </div>
        <% } %>
        <div class="container mt-3 mb-3">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th><input type="checkbox" name="students" class="students" onclick="checkAll(this)"></th>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Institution Name</th>
                    </tr>
                  </thead>
                <tbody>
                    <% count = 1 %>
                    <% rows.forEach(row => { %>
                        <tr>
                            <th><input type="checkbox" name="student" value="<%= row[0] %>" data-valuetwo="<%= row[1] %>" onclick="check(this)"></th>
                            <th scope="row"><%= count++ %>.</th>
                            <td><%= row[0] %></td>
                            <td><%= row[1] %></td>
                            <td><%= row[2] %></td>
                            <td><%= row[3] %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <form method="POST" action="/viewsheet/<%= id %>" class="mt-3">
                <textarea hidden class="checkedEmail" name="studentsEmail" id="studentsEmail"></textarea>
                <textarea hidden class="checkedName" name="studentsName" id="studentsName"></textarea>
                <div class="form-group row justify-content-center">
                    <div>
                        <button class="sendMail">Send Mail</button>
                    </div>
                </div>
            </form>
        </div>
    <% } %>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/footerLinks') %>
</html>